<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h1>{{{referens.beteckning}}}</h1>
      </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Lagfaren ägare</h3>
          </div>
            <table class="table">
              <tbody>
                {{#each lagfart.agare}}
                  <tr>
                    <td>
                      <address>
                        <strong>{{agare.namn}}</strong><br>
                        {{agare.utdelningsadress}}<br>
                        {{agare.postadress}}<br>
                        </address>
                        {{#if IDnummer}}
                          Idnummer: {{IDnummer}}<br>
                        {{/if}}
                        {{#if BeviljadAndel}}
                          Andel: {{BeviljadAndel}}<br>
                        {{/if}}
                        {{#if inskrivningsdag}}
                          Inskrivningsdag: {{inskrivningsdag}}<br>
                        {{/if}}
                        {{#if dagboksnummer}}
                          Dagboksnummer: {{dagboksnummer}}<br>
                        {{/if}}
                        {{#if beslut}}
                          Beslut: {{beslut}}<br>
                        {{/if}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
