<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h1>{{{beteckning}}}</h1>
      </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Lagfaren ägare</h3>
          </div>
            <table class="table">
              <tbody>
                {{#each lagfart}}
                  <tr>
                    <td>
                      <address>
                        {{#if efternamn}}
                          <strong>{{efternamn}} {{fornamn}}</strong><br>
                        {{/if}}
                        {{#if orgnamn}}
                          <strong>{{orgnamn}}</strong><br>
                        {{/if}}
                        {{#if agare.namn}}
                          <strong>{{agare.namn}}</strong><br>
                        {{/if}}
                        {{#if agare.utdelningsadress}}
                          {{agare.utdelningsadress}}<br>
                        {{/if}}
                        {{#if agare.coAdress}}
                          {{agare.coAdress}}<br>
                        {{/if}}
                        {{#if agare.postadress}}
                          {{agare.postadress}}<br>
                        {{/if}}
                        {{#if agare.land}}
                          {{agare.land}}<br>
                        {{/if}}
                      </address>
                      {{#if id}}
                      Id-nummer: {{id}}<br>
                      {{/if}}
                      Andel: {{andel}}<br>
                      Inskrivningsdag: {{inskrivningsdag}}<br>
                      Dagboksnummer: {{dagboksnummer}}<br>
                      Beslut: {{beslut}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
