<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h1>{{{referens.beteckning}}}</h1>
      </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Lagfaren ägare</h3>
          </div>
            <table class="table">
              <tbody>
                {{#each lagfart}}
                  <tr>
                    <td>
                      <address>
                        <strong>{{agare.namn}}</strong><br>
                        {{#if agare.utdelningsadress}}
                          {{agare.utdelningsadress}}<br>
                        {{/if}}
                        {{#if agare.coAdress}}
                          c/o: {{agare.coAdress}}<br>
                        {{/if}}
                        {{#if agare.postadress}}
                          {{agare.postadress}}<br>
                        {{/if}}
                        {{#if agare.land}}
                          {{agare.land}}<br>
                        {{/if}}
                        </address>
                        {{#if IDnummer}}
                          Idnummer: {{IDnummer}}<br>
                        {{/if}}
                        {{#if BeviljadAndel}}
                          Andel: {{BeviljadAndel}}<br>
                        {{/if}}
                        {{#if inskrivningsdag}}
                          Inskrivningsdag: {{inskrivningsdag}}<br>
                        {{/if}}
                        {{#if dagboksnummer}}
                          Dagboksnummer: {{dagboksnummer}}<br>
                        {{/if}}
                        {{#if beslut}}
                          Beslut: {{beslut}}<br>
                        {{/if}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
        {{#if tomtratt}}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Tomträttshavare</h3>
            </div>
              <table class="table">
                <tbody>
                    {{#each tomtratt}}
                      <tr>
                        <td>
                          <address>
                            <strong>{{agare.namn}}</strong><br>
                            {{agare.utdelningsadress}}<br>
                            {{agare.postadress}}<br>
                            </address>
                            {{#if IDnummer}}
                              Idnummer: {{IDnummer}}<br>
                            {{/if}}
                            {{#if BeviljadAndel}}
                              Andel: {{BeviljadAndel}}<br>
                            {{/if}}
                            {{#if inskrivningsdag}}
                              Inskrivningsdag: {{inskrivningsdag}}<br>
                            {{/if}}
                            {{#if dagboksnummer}}
                              Dagboksnummer: {{dagboksnummer}}<br>
                            {{/if}}
                            {{#if beslut}}
                              Beslut: {{beslut}}<br>
                            {{/if}}
                        </td>
                      </tr>
                    {{/each}}
                </tbody>
              </table>
          </div>
        {{/if}}
    </div>
  </div>
</div>
